.jumbo {
  background-image: url(../img/animals.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.containerForm {
  background-color: #eee;
}

.bg-admin{
  background-color: #eee;
  
}

